body{
  
    max-width: 100%;
}
.ss{
    display: flex;
    flex-direction: row;
}

.nav{
    width: 100%;
    height: 70px;
    background: #212121;


}


.nav a{
    
font-size: 20px;
color: white;
margin:10px 20px 10px 10px;
text-decoration: none;
}

.a{
    margin-left:30px;

}
.nav a i{
margin-top: 10px;
 margin-right:920px;
 color: blue;
 font-size: 30px;
}
aside{
    border: 1px solid darkgray;
    width: 25%;
    height: 900px;
    padding: 20px;
    display: none;
   z-index: 1;
   transition: width 2s;
}
.aside{
    width: 25%;
   transition: width 2s;
}
.h2{
font-size: 20px;
width: 100%;
}
input{
    width: 60%;
    height: 30px;
}
/* .container{
    margin-left:25%;
    margin-bottom: 1000%;
    
}

@keyframes example {
    from {display: none;}
    to {display: block;}
} */